:root {
    --theme-color: rgb(204, 88, 81); /* 主题色 */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--theme-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 确保body至少占据整个视口高度 */
}

/* 页眉 */
header {
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    padding: 0.25rem 0; /* 页眉高度 */
    font-size: 0.5rem; /* 调整字体大小 */
}

/* 主容器 */
.container {
    display: flex;
    justify-content: center;
    padding: 3rem 5rem;
    background-color: var(--theme-color);
    flex-grow: 1;
    gap: 1rem; /* 调整为需要的值 */
}

/* 面板 */
.panel {
    padding: 1rem;
    box-shadow: 0 0 20px rgba(60, 60, 60, 0.3);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

/* 按钮 */
button {
    background-color: #fff;
    border: 1px solid #999;
    color: #666; /* 文字颜色 */
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #bbb;
}


/* 切换类按钮 */
.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* 拉开与上方元素的距离 */
}

.toggle-btn {
    background-color: white; /* 默认白色 */
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-btn.active {
    background-color: var(--theme-color);
    color: white;
}

.station-options-popup li:hover {
    background-color: #f0f0f0;
}


/* 输入框 */
input[type="text"] {
    padding: 0.5rem;
    width: calc(100% - 1rem); /* 减去左右内边距 */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 20px;
}


/* 列表 */
ul {
    list-style-type: none;
    padding: 0;
}

/* 列表项 */
ul li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #333;            /* 设置文本颜色 */
    border-bottom: 1px solid #ddd;  /* 在每个链接下方添加下划线 */
}

/* 列表项悬停 */
ul li a:hover {
    background-color: #f1f1f1;
}


